/*
    primary (vedi App.js palette primary main)
            vedi anche PropagateLoader in BC.js
    goldenrod #DAA520 - #E1E002
                        DBDB00
                        AAAA00
    sfondo Home/Header
    #282c34 - #54595FE0
*/

body {
  font-family: Calibri, Segoe, Helvetica, sans-serif !important ;
}

table,
td,
th {
  border-collapse: collapse;
}
.margin20 {
  margin-right: 20px;
  margin-left: 20px;
}

:any-link {
  color: #aaaa00;
}

.App {
  text-align: center;
  color: #aaaa00;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Home-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: #DBDB00; */
  color: white;
}
.Home-header :any-link {
  color: #dbdb00;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#MMLogin button {
  width: 400px;
}
.ethTable {
  border: 1px black solid;
  margin: auto;
  color: black;
  margin-top: 0;
  margin-bottom: 30px;
  width: 400px;
}
.ethTable th,
.ethTable td {
  text-align: left;
  padding: 0 20px !important;
}
.ethTable {
  width: 100%;
}
.w200,
.ethTable th {
  width: 200px;
}
.reteKovan {
  color: blue;
  font-weight: bold;
}
.goodValue {
  color: #0a0;
  font-weight: bold;
}
.error,
.badValue {
  color: red;
  /* font-weight: bold; */
}
.gold {
  color: #aaaa00;
}
#languageDiv {
  width: 100%;
}
#languageDiv button {
  float: right;
  margin: 10px 10px 10px 0;
  border: 0;
  padding: 0;
  height: 24px;
  cursor: -webkit-grab;
  cursor: grab;
}
.cursorPointer {
  cursor: pointer;
}
.hidden {
  display: none;
}
.block {
  display: block;
}
#HomeDiv {
  font-family: "Maven Pro", "maven pro";
}
.UnderFooter {
  height: 44px;
}
.smartarsName {
  font-size: 40px !important;
  font-weight: bold !important;
}
.xxxxApp-logo {
  max-width: 100%;
  max-width: 600px;
  padding-left: 40px;
  padding-right: 40px;
}
.logopiccolo {
  width: 120px;
  vertical-align: middle;
}
.logopiccolosa {
  width: 100px;
  vertical-align: middle;
}
.margintop30 {
  margin-top: 30px;
}
.backbutton {
  padding-top: 20px;
}
.asinistra {
  text-align: left;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.tuttoasinistra {
  text-align: left;
  width: 100%;
}

.Header.MuiPaper-root,
.Header :any-link,
.Header .MuiIconButton-root {
  background-color: #282c34 !important;
  color: #dbdb00 !important;
}
.blackColor,
.blackColor :any-link {
  color: black;
}
.top-margin-10 {
  margin-top: 10px;
}
.margin-sg-10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.vertMiddle {
  vertical-align: middle;
}
.esitiTable {
  margin-top: 30px;
}
.esitiTable :any-link {
  font-weight: bold;
}
.esiti {
  padding: 0 20px;
}
.loginokTab,
.loginokTab :any-link {
  color: black;
}
.loginokTab td,
.loginokTab th {
  text-align: left;
  padding: 4px 10px;
}
/* per riuscire a vedere l'elenco delle scelte di una select
   dentro dialog
   necessario forzare overflow-y a visible in
   MuiPaper-root e in MuiDialogContent-root
 */
#form-dialog .MuiPaper-root,
#form-dialog .MuiDialogContent-root {
  overflow-y: visible !important;
}
.small-logo {
  max-width: 400px;
  padding: 40px 40px 0 40px;
}
.gray th {
  background-color: #ddd;
  color: #440;
}
.fontSizeSmall {
  font-size: 14px;
}
.bianco {
  color: white;
}
.vertalignTop {
  vertical-align: top;
}
.dossierDettaglioTable td,
.dossierDettaglioTable th {
  border: 1px #ccc solid;
}
.padding10 {
  padding: 0 10px;
}
.riservato {
  color: #aaaa00;
  font-style: italic;
  vertical-align: sub;
  font-size: 11px;
}
.b_loginok {
  margin: 0 !important;
  vertical-align: middle !important;
}
.down {
  caption-side: bottom;
}
.gray .radioCol {
  width: 20px !important;
  padding: 0 0 0 10px !important;
}
.nriproduzioni {
  width: 50px;
}
.width100,
.notetextarea {
  width: 100%;
}
.nodecoration {
  text-decoration: none;
}
.allCellLink {
  display: block;
}
.bcenter {
  margin: auto !important;
  display: block !important;
}
#form-dialog td,
#form-dialog th {
  padding: 2px 8px;
}
#form-dialog th {
  background-color: #eee;
  border-color: white;
}
